################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bootimg/Debug
/bootimg/Release
/Debug
/libsepol/Debug
/libsepol/Release
/Release
/and_boot_tools.sdf
/and_boot_tools.VC.db
/.vs/and_boot_tools/v14
/and_boot_tools.VC.VC.opendb
.DS_Store
/libinotify-kqueue/.deps/
/libinotify-kqueue/Makefile
/libinotify-kqueue/Makefile.in
/libinotify-kqueue/aclocal.m4
/libinotify-kqueue/autom4te.cache/
/libinotify-kqueue/compat/.deps/
/libinotify-kqueue/compile
/libinotify-kqueue/config.guess
/libinotify-kqueue/config.h
/libinotify-kqueue/config.h.in
/libinotify-kqueue/config.log
/libinotify-kqueue/config.status
/libinotify-kqueue/config.sub
/libinotify-kqueue/configure
/libinotify-kqueue/depcomp
/libinotify-kqueue/install-sh
/libinotify-kqueue/libinotify.pc
/libinotify-kqueue/libtool
/libinotify-kqueue/ltmain.sh
/libinotify-kqueue/m4/libtool.m4
/libinotify-kqueue/m4/ltoptions.m4
/libinotify-kqueue/m4/ltsugar.m4
/libinotify-kqueue/m4/ltversion.m4
/libinotify-kqueue/m4/lt~obsolete.m4
/libinotify-kqueue/missing
/libinotify-kqueue/stamp-h1
/libinotify-kqueue/tests/.deps/
/libinotify-kqueue/tests/core/.deps/
