################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bootimg/Debug
/bootimg/Release
/Debug
/libsepol/Debug
/libsepol/Release
/Release
/and_boot_tools.sdf
/and_boot_tools.VC.db
/.vs/and_boot_tools/v14
/and_boot_tools.VC.VC.opendb
.DS_Store
/libinotify/.deps/
/libinotify/Makefile
/libinotify/Makefile.in
/libinotify/aclocal.m4
/libinotify/autom4te.cache/
/libinotify/compat/.deps/
/libinotify/compile
/libinotify/config.guess
/libinotify/config.h
/libinotify/config.h.in
/libinotify/config.log
/libinotify/config.status
/libinotify/config.sub
/libinotify/configure
/libinotify/depcomp
/libinotify/install-sh
/libinotify/libinotify.pc
/libinotify/libtool
/libinotify/ltmain.sh
/libinotify/m4/libtool.m4
/libinotify/m4/ltoptions.m4
/libinotify/m4/ltsugar.m4
/libinotify/m4/ltversion.m4
/libinotify/m4/lt~obsolete.m4
/libinotify/missing
/libinotify/stamp-h1
/libinotify/tests/.deps/
/libinotify/tests/core/.deps/
